:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
}
body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  line-height: 1.2;
  color: black;
}
h1 {
  font-size: 96px;
}

p {
  color: #272142;
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}
.content p {
  color: black;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}
.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1.5;
}
.content-container h1 {
  font-size: 45px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 100px 20px;
}
.btn-branding {
  padding: 18px 46px;
  background: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
}
.project-section {
  text-align: center;
}
.btn-branding-outline {
  padding: 18px 46px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  text-decoration: none;
  font-size: 18px;
}

.title-of-my-work {
  font-weight: normal;
  font-size: 30px;
  text-align: center;
}
.content-container {
  padding: 50px 20px;
}
.content {
  margin: 0 30px;
  text-align: center;
}
.contact-icon {
  padding: 30px 10px;
}
.contact-icon a {
  color: var(--branding-color);
  text-decoration: none;
  display: block;
}
.logo {
  max-height: 40px;
}
.active {
  color: var(--branding-color) !important;
}
.nav-item {
  padding: 0 15px;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
  margin: 100px 30px;
}
footer .contact-box p {
  color: black;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}
footer .email-link a {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 20px;
}
footer .email-link a:hover {
  color: var(--branding-color);
}
footer .social-links a {
  margin: 0 20px;
  padding: 8px 16px;
  font-size: 30px;
  color: var(--branding-color);
  background: var(--secondary-color);
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--secondary-color);
  background: var(--branding-color);
}
@media (max-width: 900px) {
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  h1 {
    font-size: 48px;
    margin-top: 30px;
  }
  .hero {
    padding: 80px 20px;
  }
  .content-container {
    padding: 10px 20px;
  }
  .content-container h1 {
    font-size: 30px;
    margin-top: 30px;
  }
  .title-of-my-work {
    font-size: 16px;
  }
}
